body {
    background: transparent;
}

.vegas-overlay {
    background: #ff4500;
    opacity: 0.85 !important;
}

#login {
    padding: 25px 0 0 0;
}

h1 {
    padding: 0 30px !important;
}

h1 a {
    background-size: contain !important;
    background-position: center center !important;
    width: 100% !important;
    height: 140px !important;
}

a {
    color: white !important;
}

.login .message {
    border-left: none;
}

#login_error a {
    color: black !important;
}