body {
    background: transparent;
}

.vegas-overlay{
    background: #ff4500;
    opacity: 0.85 !important;
}

#login {
    padding: 25px 0 0 0;
}

h1 a {
/*    background-image: url(../img/startup_logo.png) !important;*/
    background-size: 166px !important;
    width: 172px !important;
    height: 172px !important;
}

a {
    color: white !important;
}

.login .message {
    border-left: none;
}

#login_error a {
    color: black !important;
}