.wp-admin #wpadminbar #wp-admin-bar-site-name > .ab-item:before {
    content: none;
}

#adminmenu {
    margin: 0;
}
/*Général*/

#wp-admin-bar-view {
    display: none;
}

.handlediv {
    display: none;
}

.hndle {
    cursor: auto !important;
}

.row-actions .inline {
    display: none;
}

.add-new-h2 {
    display: none;
}

.bulkactions {
    display: none;
}
/*Pages et Posts*/

#visibility {
    display: none;
}

.post-type-page .subsubsub {
    display: none;
}

.post-type-page .search-box {
    display: none;
}

.post-type-page .actions {
    display: none;
}

.post-type-page .check-column {
    display: none;
}
/*Editeur WYSIWYG*/

#content-tmce,
#content-html,
#wp-fullscreen-modes {
    display: none;
}
/*Pages promo options*/

.yozz_list {
    list-style: disc;
    list-style-position: inside;
}
/*Menu*/

.nav-menus-php .nav-tab-wrapper,
.nav-menus-php .manage-menus,
.nav-menus-php .delete-action,
.nav-menus-php .menu-settings,
.nav-menus-php #nav-menu-header {
    display: none;
}
/*Cacher les séparateurs du menu*/

.wp-menu-separator {
    display: none;
}

.settings-error {
    display: none;
}
/*Responsive*/

@media screen and (max-width: 782px) {
    #wp-admin-bar-wp-admin-bar-startup,
    #wp-admin-bar-site-name {
        display: none !important;
    }
}