/*Menu*/

.nav-menus-php .nav-tab-wrapper,
.nav-menus-php .manage-menus,
.nav-menus-php .delete-action,
.nav-menus-php .menu-settings,
.nav-menus-php #nav-menu-header {
    display: none;
}

.wp-menu-separator {
    display: none;
}

.settings-error {
    display: none;
}

#adminmenu {
    margin: 0;
}
/*Général*/

#wp-admin-bar-view {
    display: none;
}

.handlediv {
    display: none;
}

.hndle {
    cursor: auto !important;
}

.row-actions .inline {
    display: none;
}

.add-new-h2 {
    display: none;
}

.bulkactions {
    display: none;
}
/*Pages et Posts*/

#visibility {
    display: none;
}

.post-type-page .subsubsub {
    display: none;
}

.post-type-page .search-box {
    display: none;
}

.post-type-page .actions {
    display: none;
}

.post-type-page .check-column {
    display: none;
}
/*Editeur WYSIWYG*/

#content-tmce,
#content-html,
#wp-fullscreen-modes {
    display: none;
}

/* Timeline */
.post-type-te_announcements #about_the_author.postbox,
.post-type-te_announcements .manage-column.column-icon,
.post-type-te_announcements .manage-column.column-past_announcement,
.post-type-te_announcements .manage-column.column-image,
.post-type-te_announcements .image.column-image,
.post-type-te_announcements .past_announcement.column-past_announcement,
.post-type-te_announcements .icon.column-icon,
.post-type-te_announcements .cmb-row.cmb-type-te-bootstrap-dropdown.cmb2-id-announcement-icon,
.post-type-te_announcements .cmb-row.cmb-type-file.cmb2-id-announcement-image,
.post-type-te_announcements ul.subsubsub li:nth-child(3) {
display: none;
}

.post-type-te_announcements .manage-column.column-color{text-align: center}